* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', 'Open Sans', sans-serif;
}

nav {
  font-size: 1.2rem;
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0 2.5rem;
}

nav .site-title {
  font-size: 2.75rem;
}

nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

nav .active {
  background-color: #555;
}

img.bg-image {
  position: static;
  background-repeat: repeat;
  width: 100%;
  height: 100%;
}

nav .sub-title {
  font-style: italic;
  font-size: 1rem;
}

.card-grid {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
  gap: 1rem;
  align-items: flex-start;
}

.card {
  padding: 1rem;
  text-align: center;
  background: white;
  border-radius: .25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 2);
}

.card-image {
  overflow: hidden;
}

.card-image > img {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
  transition: 200ms transform ease-in-out;
}

.card:hover > .card-image > img {
  transform: scale(1.03);
}

.card-album {
  margin-top: .5rem;
  font-size: 1.3rem;
  margin-bottom: .5rem;
}

.card-artist {
  font-size: 1.2rem;
  margin-bottom: .5rem;
}

.card-details {
  font-size: 1rem;
  margin-bottom: .35rem;
}

.card-footer {
  margin-top: 1rem;
}

.btn {
  background: #444;
  color: white;
  border: none;
  font-size: 1rem;
  padding: .5em .75em;
  border-radius: .25em;
  cursor: pointer;
}

.btn:hover, .btn:focus {
  background: #666;
}

.btn + .btn {
  margin-left: .5rem;;
}